
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
}
.section-description{
    margin: 22px 0% 30px 0%;
    color: #727272;
}
/* -------primary-button--------- */
.primary-button{
    height: 64px;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 0px 30px;
    background: #FF900E;
    font-size: 20px;
    font-weight: 600;
}
/* ----------header style------- */
header{
    background: #FF900E1A;
}
.header-container{
    width: 80%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 50px;
}
.websit-title h3{
    font-weight: 700;
    font-size: 34px;
}

.manu{
    display: flex;
    gap: 50px;
}
.manu-item{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.manu-item a{
    text-decoration: none;
    color: black;
}
/* ---------banner style---------- */
.banner-text-area{
    text-align: center;
    margin: 0px 15%;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
}
.banner-image{
    margin-top: 50px;
}
/* ---------team section style--------- */
main{
    width: 80%;
    margin: 0 auto;
}
.team{
    margin: 85px 10px;
    display: flex;
    gap: 80px;
    align-items: center;
}
.team-image-aria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    flex: 1.25;
}
.team-text-aria{
    flex: .75;
}
.team-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 22px;
}
.lite-text{
    font-weight: 500;
    color: #727272;
}
.orange-text{
    color: #FF900E;
}
/* --------Features section style------- */
.features{
    display: flex;
    gap: 140px;
}
.features-text-container{
    flex: 1;
}
.features-main-title{
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}
.features-sub-text-container h4{
    font-weight: 600;
    font-size: 20px;
}
.features-sub-text-container p{
    margin: 10px 0px 0px 0px;
}
.features-sub-text-container{
    padding: 20px 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
}
.features-image-container{
    flex: 1;
}
.experience{
    padding: 40px;
    height: 200px;
    position: relative;
    left: 48%;
    top: -120px;
    z-index: 1;
}
.experience h3{
    font-size: 60px;
    font-weight: 700;
}
.experience p{
    font-size: 15px;
    font-weight: 500;
}
/* -------Some Facts section---------  */
.some-facts{
    margin-top: 60px;

}
.some-facts-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.some-facts-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 100px 0px;
}
.some-facts-item{
    padding: 40px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: padding 1s;
 /* transform: rotate(90deg); */
}
.some-facts-item:hover{
    padding: 30px 25px;
    background-color:#FF900E;
}
.some-facts-item h4{
    font-size: 45px;
    font-weight: 600;
    color: #424242;

}
.some-facts-item p{
    color: #727272;
}
.some-facts-item img{
    width: 45px;
}
/* ---------Sponspors section style--------- */
.ponspors-text-container{
    text-align: center;
}
.sponspors-section-title{
    font-weight: 700;
    font-size: 45px;
}
.sponspors-container{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponspors-item img{
    height: 50px;
    width: 150px;
    filter: grayscale(100%);
}
/* --------services section style-------- */
.servicess p{
    text-align: center;
}
.servicess-title{
    font-weight: 700;
    font-size: 40px;
    margin: 80px 0px 40px 0px;
    text-align: center;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.services{
    padding: 30px 20px;
    box-shadow: 1px 1px 5px #bbbbbb;
    text-align: center;
    transition: background-color 1.5s;
    border-radius: 10px;
}
.services:hover{
    background-color: #FF900E;
}
.services-img{
    width: 45px;
    height: 45px;
    margin: 0 auto;
}
.services-title{
    margin-top: 20px;
    margin-bottom: 5px;
    color: #444343;
    font-size: 20px;
}
.services-description{
    color: #444343;
}
/* --------footer section style------- */
footer{
    margin: 150px 0px;
    
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    
}
.footer-text{
    font-size: 20px;
    color: #424242;
    margin: 0 auto;
    padding: 40px;
}

/* ------raspobsib style aria------  */

/*-------- small devices------- */

@media screen and (max-width:576px) {
    .header{
        margin-bottom: 30px;
    }
    .banner-text-area{
        margin: 0px;
    }
    .team, .features, .some-facts-container, .sponspors-container, .header, .manu{
        flex-direction: column;
        row-gap: 30px;
    }
    .services-container, .team-image-aria{
        grid-template-columns: repeat(1, 1fr);
    }
    h3{
        font-size: 40px;
    }
    .experience{
        left: 0%;
        top: 0px;
        z-index: 0;
        margin: 20px auto;
    }
}
/* --------medium debice-------- */

@media screen and (min-width:577px) and (max-width:768px) {
    .header{
        margin-bottom: 30px;
    }
    .banner-text-area{
        margin: 0px;
    }
    .team, .features, .sponspors-container, .header{
        flex-direction: column;
        row-gap: 30px;
    }
    .some-facts-container{
        flex-wrap: wrap;
        gap: 40px;
    }
    .services-container{
        grid-template-columns: repeat(2, 1fr);
    }
    h3{
        font-size: 40px;
    }
    .experience{
        left: 0%;
        top: 0px;
        z-index: 0;
        margin: 20px auto;
    }
}

